.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 100%;
    /*width: 25%;*/
    bottom: 0;
    left: 0;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background: rgba(255,255,255,.9);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay h2 {
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
}

/*.map-overlay .legend .bar {*/
    /*height: 10px;*/
    /*width: 100%;*/
    /*background: linear-gradient(to right, #FCA107, #7F3121);*/
/*}*/

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}
